<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style type="text/css">

        .container {
            margin-top: 70px;
        }

        .jumbotron {
            padding: 0px;
        }
    </style>
</head>
@{
    var totalDeItensCarrinho = 0;
    if (Session["ShoppingCarrinho"] != null)
    {
        totalDeItensCarrinho = ((tcc_UI.Models.CarrinhoModels)Session["ShoppingCarrinho"]).Itens.Count;
    }

    tcc_UI.Models.LoginModels login = null;

    if (Session["Login"] != null)
    {
        login = (tcc_UI.Models.LoginModels)Session["Login"];
    }
}
<body>
    <div class="modal">
        <div class="mensagem">
            Carregando...
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Smartphones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notebooks</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink(string.Format("Carrinho - {0} produto(s)", totalDeItensCarrinho), "Index", "Carrinho", null, new { @class = "nav-link" })
                    </li>
                    @{
                        if (login != null)
                        {
                            <li class="nav-item nav-link">Bem vindo, @login.Cliente.ObterNomeCompleto()</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Minha conta</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="@Url.Action("Index", "MinhaConta")">Minha conta</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "MeusPedidos")">Meus pedidos</a>
                                    <a class="dropdown-item" href="@Url.Action("Sair", "Login")">Sair</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            @Html.ActionLink("Efetuar login", "Index", "Login", null, new { @class = "nav-link" })
                        }
                    }
                </ul>

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    @Html.TextBox("NomePesquisa", "", new { @class = "form-control mr-sm-2", placeholder = "Pesquisa" })
                    <div>
                        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Pesquisar" id="btnPesquisar" />
                    </div>
                }
            </form>
        </div>
    </nav>
    <main role="main">
        <div class="container">
            <p>@ViewBag.NomePesquisa</p>
            @RenderBody()
            <hr>
        </div>
    </main>
    <footer class="container">
        <p>&copy; Loja Virtual @DateTime.Now.Year </p>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min-vendor.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        function LoadingModal() {
            document.body.className = "loading";
            // para remover
            //document.body.className = document.body.className.replace("loading", "");
            return true;
        }

        $(function () {
            $(".btn").click(function () {
                setTimeout(LoadingModal(), 1000);
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>